$colors: (
  primary: #ffffff,
  secondary: #0c0c0c
);
$tablet: 720px;
$mobile: 550px;
$smallScreen: 500px;
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin smallScreen {
  @media (max-width: #{$smallScreen}) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
}
// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
  background-color: #adff2f;
}
::-webkit-scrollbar-thumb {
  background-color: map-get($colors, secondary);
  border-radius: 10px;
}
html,
body {
  font-family: "Alegreya Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: darken(map-get($colors, primary), 2%);
  .btn {
    font-size: 0.8em;
    color: darken(map-get($colors, primary), 20%);
    background: map-get($colors, secondary);
    border: 2px solid darken(map-get($colors, primary), 20%);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: map-get($colors, secondary);
      background: darken(map-get($colors, primary), 20%);
      border: 2px solid map-get($colors, secondary);
      transition: all 0.3s ease;
    }
  }
  h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  p {
    color: lighten(map-get($colors, secondary), 20%);
    margin-bottom: 1em;
  }
}
// LANDING START
.landing {
  height: 100vh;
  width: 100vw;
  background: url("../img/landing3.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 4em;
  .container {
    width: 90%;
    margin: auto;
    .sidenav {
      height: 40%;
      width: 0;
      position: absolute;
      z-index: 1;
      top: 0em;
      right: 0;
      background-color: map-get($colors, secondary);
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align: center;
      display: none;
      @include tablet {
        display: block;
        transition: all 0.5s ease-in;
      }
    }
    .wrapper {
      display: none;
      position: absolute;
      right: 2em;
      top: 1em;
      @include tablet {
        display: block;
        transition: all 0.5s ease-in;
      }
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: darken(map-get($colors, primary), 40);
      text-align: center;
      display: block;
      transition: 0.3s;
      @include smallScreen {
        font-size: 18px;
        padding: 6px 8px 6px 32px;
      }
    }
    .sidenav a:hover {
      color: #f1f1f1;
    }
    .closebtn {
      position: absolute;
      top: 0.3em;
      right: 0.7em;
      font-size: 36px !important;
    }
    .float-right {
      float: right;
      .navbar {
        padding-top: 3em;
        @include tablet {
          display: none;
          transition: all 0.5s ease-in;
        }
        li {
          display: inline;
          list-style: none;
          a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.1em;
            font-weight: 600;
            margin-right: 1.5em;
            color: lighten(map-get($colors, secondary), 40%);
          }
          a:hover {
            color: map-get($colors, secondary);
            font-weight: 600;
            transition: all 0.3s ease;
          }
        }
        .active {
          color: map-get($colors, secondary);
        }
      }
      .clr {
        clear: right;
      }
      .landing-txt {
        @include tablet {
          position: absolute;
          left: 1em;
          margin: 10em 4em 0 0;
          transition: all 0.5s ease-in;
        }
        @include smallScreen {
          margin: 5em 4em 0 0;
        }
        .content {
          margin: 10em 0 0 0em;
          h1 {
            font-size: 4.5em;
            font-weight: 400;
            position: relative;
            margin-bottom: 0.4em;
            @include smallScreen {
              font-size: 3.5em;
            }
            span {
              color: darken(map-get($colors, primary), 60%);
            }
          }
          h1::before {
            content: "Apply your own visual language";
            position: absolute;
            font-size: 0.25em;
            top: -1.5em;
            color: lighten(map-get($colors, secondary), 40%);
          }
        }
      }
    }
  }
}
// LANDING END
// MAIN START
.main {
  text-align: center;
  .about {
    width: 70%;
    margin: auto;
    .h2 {
      font-size: 1.1em;
    }
    p {
      color: lighten(map-get($colors, secondary), 20%);
      margin: 1em 0;
    }
    .boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3em;
      margin-bottom: 5em;
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        transition: all 0.5s ease-in;
      }
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        transition: all 0.5s ease-in;
      }
      .box {
        margin-top: 3em;
        img {
          height: 250px;
          width: 100%;
        }
        h3 {
          text-transform: uppercase;
          font-size: 1.1em;
          margin: 1em 0;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  .gallery {
    margin-bottom: 100px;
    img: {
      opacity: 0.6;
    }
    .showcase {
      height: 500px;
      background-image: url("../img/showcase.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3em;
      .showcase-txt {
        .fa {
          border: 1px solid map-get($colors, secondary);
          border-radius: 50%;
          padding: 1em 1.15em;
        }
      }
    }
    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    p {
      color: lighten(map-get($colors, secondary), 20%);
      margin-bottom: 3em;
    }
    .gallery-images {
      width: 70%;
      margin: auto;
      .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        margin-bottom: 2em;
        @include tablet {
          grid-template-columns: repeat(2, 1fr);
          transition: all 0.5s ease-in;
        }
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
          transition: all 0.5s ease-in;
        }
      }
    }
  }
  .testimonial {
    background-color: lighten(map-get($colors, secondary), 80);
    padding: 2em 0em;
    .bg {
      width: 70%;
      margin: auto;
    }
    .clients {
      height: 200px;
      .feedback {
        margin-top: 1em;
        h4 {
          font-size: 1.5em;
          font-weight: 100;
          margin-bottom: 1.5em;
        }
        h6 {
          margin-bottom: 0.3em;
        }
      }
    }
  }
}
// MAIN END
// FOOTER
footer {
  background-color: map-get($colors, secondary);
  text-align: center;
  h5,
  .fa {
    color: map-get($colors, primary);
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
    text-transform: capitalize;
  }
  .fa {
    margin-right: 0.5em;
    &:hover {
      color: darken(map-get($colors, primary), 50);
    }
  }
  .centering {
    width: 80%;
    margin: auto;
    .newsletter {
      padding-top: 100px;
      margin-bottom: 2em;
      input {
        padding: 0.6em 1em;
        font-size: 1.2em;
        display: inline-flex;
        border: none;
        outline: none;
        @include mobile {
          padding: 0.6em 0.6em;
          font-size: 1em;
          display: block;
          width: 100%;
          margin-bottom: 0.5em;
          transition: all 0.5s ease-in;
        }
      }
      input[type="email"] {
        background-color: darken(map-get($colors, primary), 10);
      }
      input[type="submit"] {
        background-color: map-get($colors, primary);
        text-transform: capitalize;
        @include mobile {
          margin-left: 0.6em;
          transition: all 0.5s ease-in;
        }
        &:hover {
          color: map-get($colors, primary);
          background-color: map-get($colors, secondary);
          border: 2px solid map-get($colors, primary);
        }
      }
    }
  }
}
